/* estilização global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* cores da aplicação */
:root{
  --azulEscuro: #1a0b37;
  --roxoEscuro: #290f80;
  --roxo: #291181;
  --amarelo: #FFD700;
}

/* corpo da pagina */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
}

button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}